# Ignore node_modules folder

task1/materi1.js
task1/materi3.js

week2/task2/index.js
week2/task4/index.html
week2/task4/home.html
week2/task4/about.html
week2/task4/contacts.html
week2/task4/404.html