<div class="container mt-4">
    <div class="text-center">
        <h1 class="display-4">404</h1>
        <p class="lead">Halaman tidak ditemukan</p>
        <a class="btn btn-primary" href="/">Kembali ke Halaman Utama</a>
    </div>
</div>